@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@500&display=swap');



.navbar{
  background-color: #313131;
}

nav a{
  color: rgb(172, 172, 172);
}

/* .navbar-brand {
  color: white;
} */

.navbar a:hover{
  color: whitesmoke;
}

.navbar a:active{
  color: white;
}

.navbar{
  height: 6rem;
  font-family: 'Big Shoulders Inline Display', cursive;
}

.navbar-toggler{
  background-color: #515151;
  color: white;
  border: double black;
  box-shadow: 0 0 2vh #414141 ;
}

.navbar-collapse{
  /* background-color: #313131; */
  padding: 2vh;
  /* border-radius: 0 0 5vw 5vw; */
}