################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Blazor-Portfolio/WebApp.Portfolio/bin

/Blazor-Portfolio/WebApp.Portfolio/obj