body {
}

#carrusel-back {
    padding-top: 5vw;
}

.carousel-img {
    height:70vh;
}

.carouselContainer {
    display:flex;
    height: 80vh;
    margin-top:7vh;
    overflow-x:hidden;
    overflow-y:auto;
}

.nombreTitulo {
    font-family: 'Fredericka the Great', cursive;
    color: white;
}

.titleA {
    text-shadow: 0.3rem 0.3rem 0.6rem white;
}

.titleB {
    text-shadow: 0.3rem 0.3rem 0.6rem black;
    font-size: 6rem;
}

.titleC {
    text-shadow: 0.3rem 0.3rem 0.6rem white;
    font-size: 4rem;
    align-content:center;
}

.carouselTittle {
    display: flex;
    z-index: 1;
    justify-content: center;
    flex-direction: column;
}

.carouselTittle2 {
    display: flex;
    z-index: 1;
}

.pictureFrame {
    background: #00000000;
    overflow: hidden;
}

.picture {
    width: auto;
    height: 100%;
    mask-image: radial-gradient( circle at center, black 0%, black 50%, transparent 75%, transparent 100% );
    mask-mode: alpha;
}

.pictureFS {
    width: 90%;
    height: auto;
    mask-image: radial-gradient( circle at center, black 0%, black 40%, transparent 50%, transparent 100% );
    mask-mode: alpha;
}

@media (min-width:1360px) {
    .carouselTittle2{
        align-content:center;
        justify-content:space-between;
    }

    .pictureFrame {
        height: 30rem;
    }

    .pictureFrame2 {
        height: 30rem;
    }

    .titleA {
        font-size: 5rem;
    }

    .carousel-img {
        mask-image: radial-gradient( circle at center, black 0%, black 65%, transparent 85%, transparent 100% );
        mask-mode: alpha;
    }
}

@media (576px <= width <= 1360px) {
    .carouselTittle2 {
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .pictureFrame {
        height: 30rem;
        margin: 0 auto;
    }

    .pictureFrame2 {
        height: 25rem;
    }

    .titleA {
        font-size: 4rem;
    }

    .carousel-img {
        mask-image: radial-gradient( circle at center, black 0%, black 70%, transparent 80%, transparent 100% );
        mask-mode: alpha;
    }
}

@media (max-width: 576px) {
    .carouselTittle2 {
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .pictureFrame {
        height: 25rem;
        margin: 0 auto;
    }

    .pictureFrame2 {
        height: 20rem;
    }

    .titleA {
        font-size: 2.5rem;
    }

    .carousel-img {
        mask-image: radial-gradient( circle at center, black 0%, black 70%, transparent 85%, transparent 100% );
        mask-mode: alpha;
    }
}