/*.page {
    position: relative;
    display: flex;
}

main {
    flex: 1;
    
}

.sidebar {
    background-image: src(../../wwwroot/img/backHexa-Black.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (min-width: 755.98px) {
    .sidebar {
        width:100vw;
        height: 4rem;
    }
    .top-row {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (max-width: 756px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        height: 100vh;
        position: sticky;
        top: 0;
    }

   .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth ::deep a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row, article {
        padding-left: 2rem;
        padding-right: 1.5rem;
    }
}*/

main {
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.bodySpace {
    background-color : black;
    height: 100vh;
    width: 85vw;
}

body {
    --sb-track-color: #888888;
    --sb-thumb-color: #4124ff;
    --sb-size: 10px;
}

    body::-webkit-scrollbar {
        width: var(--sb-size);
    }

    body::-webkit-scrollbar-track {
        background: var(--sb-track-color);
        border-radius: 10px;
    }

    body::-webkit-scrollbar-thumb {
        background: var(--sb-thumb-color);
        border-radius: 10px;
        border: 1px solid #6c76a5;
    }

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

.bodyContainer {
    height: 90vh;
    overflow-x:hidden;
    overflow-y:hidden;
}

/* footer */
footer {
    height: 2rem;
    background-color: #CA3E47;
    font-family: 'Fredericka the Great', cursive;
    position: sticky;
}