.navbar-toggler {
    display: none;
    z-index: 1;
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row {
    height: 4rem;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    display:flex;
}

.navbar-brand {
    font-size: 1.1rem;
}

.brand {
    display:inline-flex;
    justify-items:start;
}

.navItemsRow {
    display:flex;
    flex-direction: row;
}

.nav-item {
    font-size: 0.9rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-inline: 1rem;
}

    .nav-item ::deep .nav-link {
        color: #909090;
        background: none;
        border-radius: 0.5rem;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 2rem;
        font-size: clamp(1.1rem, 2dvw, 1.5rem);
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.05);
    color: white;
}

.nav-item ::deep .nav-link:hover {
    background-color: rgba(255,255,255,0.7);
    color: black;
}

.nav-scrollable {
    display: block;    
    overflow-y: auto;
}

.navbar-toggler:checked ~ .nav-scrollable {
    display:block;
    z-index:0;
}

@media (max-width: 768px) {
    .navbar-toggler {
        display: block;
    }

    .nav-item {
        padding-inline-end:0.5rem;
    }

    .navItemsRow {
        flex-direction:column;
        width: 50vw;
        margin-top: 4rem;
        background-color: rgb(30, 30, 30, 0.80);
        border-radius: 1rem;
    }

    .nav-scrollable {
        display: none;
        position: relative;
        right: 2rem;
    }
}

@media (max-width:576px) {
    .navItemsRow {
        width: 34vw;
    }

    .nav-item {
        padding-right: 0.2rem;
    }
}

.icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    align-self: center;
    font-size:2rem;
    margin-inline: 1rem;
}

.portfLogo {
    width: 2.5rem;
    margin-right: 0.5rem;
}

.bi {
}